<div class="jumbotron">
  <h1 class="display-4">Bem-vindo!!!</h1>
  <p class="lead">Este site tem como função o aprendizado com a linguagem Node JS, Mongo DB</p>
  <hr class="my-4">
  <p>Erros podem ser encontrados na aplicação por se tratar de testes.
    Abaixo registre-se
  </p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar conta</a>
</div>
<hr>
<h2>Lista de postagem</h2>

{{#each postagens}}
<div class="card mt-4 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h3>Titulo: {{titulo}}</h3>
    <p>Descrição: {{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-info mt-2 ">Leia mais</button></a>
    <hr> 
    <small>Categoria: {{categoria.nome}}</small>
    <br>
    <small>Data de ciação: {{data}}</small>
  </div>
</div>
{{else}}
  <h4 class="mt-3 alert alert-primary" role="alert">Nenhum post encontrado.</h4>
{{/each}}